
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap'); /*regular*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap'); /*bold*/

.contenedor {
    max-width: 1280px;
    margin: auto;
}

.list-item{
    margin-bottom: 8px;
    padding: 16px; 
    background-color: #ffffff;
    text-align: center;
    line-height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    border-bottom: black 1px solid;
    position: sticky;
    top: 0px; 
    background-color: #ffffff;
}

.navbar div {
    display: flex;
}


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body h2 {
    font-weight: 700;
    padding-top: 16px;
}

body .precio{
    font-weight: 700;
}

img {
    width: 100%; 
    display: block;
    height: auto;
    border-radius: 5%; 
}

.icon-menu{
    width: 32px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.icon{
    width: 32px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.info{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}


.opciones-navegacion a {
    margin: 8px;
    color: #212429;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #212429;
    align-items: center;
    font-size: 16px;
}

footer div {
    display: flex;
    justify-content: space-around;
    margin: 8px;
    padding: 8px;
    align-items: center;
    color: #ffffff;
}

footer span {
    margin-left: 8px;
    color: #ffffff;
}

.icon-footer{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

@media (max-width: 920px) {
    .navbar .opciones-navegacion{
        display: none;
    }
    .navbar .icon{
        display: none;
    }

    .navbar .icon-menu{
       margin: 0 auto;
    }

    .list-item{
      grid-template-columns: 1fr;
      width: 50%;
      justify-content: center;
      margin: auto;
    }
    
    h2{
        text-align: center;
    }
    
    footer{
        flex-wrap: wrap; 
        align-items: flex-start;
    }

    footer div {
        width: 100%;
        border-bottom: 1px white solid;
        text-align: left;
        justify-content: flex-start;
        flex-wrap: wrap; 
        
    }
  }